#page-all {
	margin : 0 auto;
	width : 960px;
}

#page-bottom {
	background-image : url(bg_bottom.png);
	background-repeat : no-repeat;
	height : 243px;
	background-size: 100% 100%;
}

#page-content {
	position : relative;
	padding : 0;
}

#page-content-main {
	min-height : 400px;
	padding : 10px 30px;
}

#page-header {
	background-image : url(bg_header.png);
	background-repeat : no-repeat;
	background-size: 100% 100%;
	height : 215px;
}

#page-menus {
	background-color : #c9172a;
	border-bottom : 1px solid silver;
	color : #ccc;
	text-align : center;
}

#page-menus ul {
	margin : 0;
	padding : 0 10px;
}

#page-menus ul.user {
	background-color : #89000a;
	float : right;
}

#page-menus ul li {
	display : inline;
	list-style : none;
	padding : 0 3px;
	position : relative;
}

#page-menus ul li a {
	color : white;
	display : inline-block;
	font-weight : bold;
	padding : 5px 9px;
}

#page-menus ul li:hover a {
	background-color : #acbed2;
	color : red;
}

#page-menus ul li.sel a {
	background-color : #acbed2;
	color : red;
}


a:link,
a:visited {
	color : #1177bc;
	text-decoration: none;
}

a:hover,
a:active {
	color :  #cc3300;
	text-decoration : none;
}

body {
	background-color : #ddd;
	background-image : url(bg_content.png);
	color : #444;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
	margin : 0 0 2em;
}

div.border {
	border : 1px solid black;
}

dl.teams {
	background-color : #ddd;
	border : solid black;
	border-width : 0 1px 1px;
	margin-left : 20px;
	padding-left : 0;
}

dl.teams dd {
	background-color : #f8f8f8;
	border-radius : 4px;
	border : 1px solid #ddd;
	display : inline-block;
	margin : 2px 2px;
	padding : 1px 5px;
}

dl.teams dd.info {
	background-color : transparent;
}

dl.teams dt {
	background-color : silver;
	border-bottom : 1px dashed gray;
	border-top : 1px solid black;
	color : black;
	margin : 5px 0 2px;
	padding : 3px 5px;
}

dl.teams dd.you,
ol.inline li.you,
ul.inline li.you {
	background-color : #bbf8bb;
}

h1 {
	color : #1476bf;
	font-size : 15pt;
}

h2 {
	color : #666;
	font-size : 14pt;
}

img {
	border : 0;
}

img.border {
	border : 1px solid black;
}

img.center {
	display : block;
	margin : auto;
}

input {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
}

ol.inline,
ul.inline {
	margin-left : 20px;
	padding-left : 0;
}

ol.inline li,
ul.inline li {
	background-color : #f8f8f8;
	border-radius : 4px;
	border : 1px solid #ddd;
	display : inline-block;
	margin : 2px 2px;
	padding : 1px 5px;
}

ol.spaced li,
ul.spaced li {
	margin : 0.8em 0;
}

ol.spaced15 li,
ul.spaced15 li {
	margin : 0.4em 0;
}

td {
	vertical-align : top;
}

table caption {
	font-size : 120%;
	font-weight : bold;
}

table.border {
	border : solid black !important;
	border-radius : 0 !important;
	border-width : 0 0 1px 1px !important;
	margin-bottom : 1.5em;
	margin-top : 1.5em;
}

table.border td,
table.border th {
	border : solid black !important;
	border-radius : 0 !important;
	border-width : 1px 1px 0 0 !important;
	color : black;
	padding : 1px 3px;
}

table.border th {
	text-align : center;
}

div.faded-bg,
fieldset.faded-bg,
p.faded-bg,
table.faded-bg td,
table.faded-bg th {
	background-color : #f2f2f2;
	border : 1px solid #fff;
	border-radius : 10px;
	margin-bottom : 1em;
	margin-top : 1em;
	padding : 14px;
}

fieldset.faded-bg legend {
	background-color : #e2e2e2;
	border : 1px solid #fff;
	border-radius : 10px;
	color : #1476bf;
	font-size : 12pt;
	font-weight : bold;
	padding : 8px 14px;
}

table.faded-bg h2.legend {
	border-top : 0;
	border-bottom : 1px solid #666;
	margin-top : 14px;
	padding : 0 0 4px;
}

table.no-padding-tb td,
table.no-padding-tb th {
	padding-bottom : 0 !important;
	padding-top : 0 !important;
}

table.padding-20px td,
table.padding-20px th {
	padding : 20px;
}

.tac,
table.tac td,
table.tac th {
	text-align : center;
}

.left {
	display : table;
	float : left;
	margin-bottom : 15px;
	margin-right : 25px;
}

.right {
	display : table;
	float : right;
	margin-bottom : 15px;
	margin-left : 25px;
}

.vac td,
.vam td {
	vertical-align : middle;
}

/*--[ BR6 specific styles ]---------------------------------------------------*/

.closeButton {
	font-size : 20pt;
	position : absolute;
	right : -20px;
	top : -20px;
}

.tile {
	background-color : silver;
	border : 2px solid black;
	display : inline-block;
	font-family : Calibri, Arial, sans-serif;
	font-size : 20pt;
	font-weight : bold;
	height : 70px;
	margin : 6px;
	padding : 15px 0;
	text-align : center;
	vertical-align : middle;
	width : 120px;
}

.tile span {
	display : block;
	font-size : 60%;
	font-weight : normal;
}

.tile.blue {
	background-color : #ddf;
	border-color : #00f;
	color : #00f;
}

.tile.green {
	background-color : #dfd;
	border-color : #070;
	color : #070;
}

.tile.orange {
	background-color : #fed;
	border-color : #fa0;
	color : #fa0;
}

.tile.red {
	background-color : #fdd;
	border-color : #f00;
	color : #f00;
}

.tile.yellow {
	background-color : #ffd;
	border-color : #bb0;
	color : #bb0;
}
#non-overview-wrapper {
	margin-left : 130px;
}

#registration-overview {
	background-color : #c9172a;
	color : #bbb;
	float : left;
	font-size : 9pt;
	margin : 0 0 10px -15px;
	padding : 0;
	position : fixed;
	width : 100px;
}

#registration-overview ul {
	border : solid #89000a;
	border-width : 1px 0 0;
	margin : 0;
	padding : 0;
	list-style-type : none;
}

#registration-overview li {
	border : solid #89000a;
	border-width : 0 1px 1px;
	margin : 0;
	padding : 4px;
	text-align : center;
}

#registration-overview li.bg {
	background-color : #89000a;
}

#registration-overview big {
	display : inline-block;
	font-size : 20pt;
	line-height : 17pt;
	margin : 10px 0;
}

.tour {
	margin : 1em 0;
}

.crowd .c11,
.crowd .c12,
.crowd .c13,
.crowd .c21,
.crowd .c22,
.crowd .c23,
.crowd .c31,
.crowd .c32,
.crowd .c33 {
	background-color : #acbac0;
}

.major .c11,
.major .c12,
.major .c13,
.major .c21,
.major .c22,
.major .c23,
.major .c31,
.major .c32,
.major .c33 {
	background-color : #bac0ac;
}

.tour .c11 {
	border : solid black;
	border-radius : 8px 0 0 0;
	border-width : 2px 0 0 2px;
	width : 10px;
}

.tour .c12 {
	border : solid black;
	border-width : 2px 0 0 0;
	width : 570px;
}

.tour .c13 {
	border : solid black;
	border-radius : 0 8px 0 0;
	border-width : 2px 2px 0 0;
	width : 10px;
}

.tour .c21 {
	border : solid black;
	border-width : 0 0 0 2px;
}

.tour .c23 {
	border : solid black;
	border-width : 0 2px 0 0;
}

.tour .c24 {
	border : solid black;
	border-width : 1px 0 1px 0;
	min-width : 25px;
}

.tour .c25 {
	border : solid black;
	border-width : 1px 1px 1px 0;
	border-radius : 0 8px 8px 0;
	width : 10px;
}

.tour .c31 {
	border : solid black;
	border-radius : 0 0 0 8px;
	border-width : 0 0 2px 2px;
	width : 10px;
}

.tour .c32 {
	border : solid black;
	border-width : 0 0 2px 0;
}

.tour .c33 {
	border : solid black;
	border-radius : 0 0 8px 0;
	border-width : 0 2px 2px 0;
	width : 10px;
}
/*
.tour .c34 { 
	border : solid black;
	border-width : 0 1px 0 1px;
}
*/
.tour .c42 { 
	border : solid black;
	border-width : 0 1px 0 1px;
	padding : 10px 10px 0 50px;
}
/*
.tour .c44 { 
	border : solid black;
	border-radius : 0 0 4px 4px;
	border-width : 0 1px 1px 1px;
}
*/

.tour .c52 { 
	border : solid black;
	border-width : 0 1px 1px 1px;
	border-radius : 0 0 8px 8px;
}

.tour .r1,
.tour .r3,
.tour .r5 {
	height : 10px;
}

.tour .join {
	text-align : center;
}

.tour .underlim {
	font-size : 30px;
	margin : 30px 20px;
}

.tour .overlim {
	cursor : help;
	display : none;
	font-size : 12pt;
	line-height : 16pt;
	margin : 15px 15px;
}

.tour .joined {
	color : green;
	display : none;
	font-size : 30px;
	margin : 10px 20px;
	text-align : center;
}

.tour .joined a {
	display : block;
	font-size : 15px;
	
}

.tour .joined p {
	margin : 0;
}

.tour .teamaction a {
	color : red;
	font-weight : bold;
	letter-spacing : 1px;
}

.tour .teamaction span {
	display : none;
	font-size : 12pt;
}

.tour .l1,
.tour .l2 {
	color : #ff4411;
	font-size : 15px;
	margin : 0 0 3px;
	padding : 0 10px;
	text-shadow : 0px 1px #444, 0 0 3px #bbb;
}

.tour .thumb {
	float : left;
	margin-right : 20px;
}

.tour h2,
.tour h2 a {
	color : orange;
	font-size : 30px;
	letter-spacing : 1px;
	margin : 10px 0 0;
	text-shadow : 2px 2px black;
}

.tour h3 {
	margin : 0 0 0 -40px;
}

.tour p {
	margin : 0.5em 0;
}


.seating-chart.real {
	background-color : #fcf2c3;
	background-image : url(../imgs/seating_layout.png);
	background-repeat : no-repeat;
	color : black;
	clear : both;
	font : 2pt arial;
	margin-bottom : 20px;
	width : 900px;
}

.seating-chart,
.seating-chart table {
	margin-bottom : 0;
	margin-top : 0;
	padding : 0;
}

.seating-chart td,
.seating-chart th {
	margin : 0 !important;
	padding : 0 !important;
}

.seating-chart .me {
	background-color : #88f !important;
	background-image : none !important;
	cursor : help;
	outline : 1px solid blue;
}

.seating-chart .occ {
	background-color : #f88 !important;
	background-image : none !important;
	cursor : help;
	outline : 1px solid red;
}

.seating-chart .rvd {
	background-color : silver !important;
	background-image : none !important;
	cursor : help;
	outline : 1px solid gray;
}

.seating-chart .vac {
	background-image : none !important;
	text-align : center;
	vertical-align : middle;
}

.seating-chart .vac2 {
	background-color : #8d8 !important;
	background-image : none !important;
	cursor : help;
	outline : 1px solid #080;
}

.seating-chart .me input,
.seating-chart .occ input,
.seating-chart .rvd input,
.seating-chart .vac2 input {
	visibility : hidden;

}

.seating-chart .p1 th {
	border : 0;
	height : 22px;
	padding : 0 0 !important;
	width : 22px;
}

.seating-chart .p2 th {
	border : 0;
	height : 23px;
	padding : 0 0 !important;
	width : 22px;

}

.seating-chart .bt {
	width : 21px;
}

.seating-chart .lm {
	width : 131px;
}

.seating-chart .lm2 {
	width : 574px;
}

.seating-chart .rm {
/*	width : 28px;*/
}

.seating-chart .rm2 {
/*	width : 35px;*/
}

.seating-chart .tt {
	width : 27px;
}

.dis {
	margin-top : 30px;
}

#disqusFrame {
	background-color : #ddd;
	border : 0;
	height : 400px;
	padding : 10px;
	width : 100%;
}

#tournamentDetails.highlight {
	border : 2px dashed red;
	padding : 0 10px;
}


/*--[ Page specific styles ]--------------------------------------------------*/

.center {
	display : table;
	margin-left : auto;
	margin-right : auto;
}

.error {
	color : red;
	margin-top : 0;
}

fieldset {
	background-color : #e8e8e8;
}

input.invalid,
textarea.invalid {
	background-color : #fdd;
	border-color : red;
}

table.small {
	font-size : 10pt;
}

/*
table tr:hover {
	background-color : #fcc;
}
*/

